@font-face {
    font-family: 'ABSTER';
    src: url(Fonts/ABSTER.otf);
}

#menu-h ul[b-7bl7srltt8]{
    max-width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-right: 50px;
    
    text-align: center;
    background-color: #004AAD 
}

#menu-h ul li[b-7bl7srltt8]{
    display: inline;
}

#menu-h ul li  a[b-7bl7srltt8]{
    color:rgb(8, 25, 255);
    display: inline-block;
    text-decoration: none;
    justify-content: center;
    transition: background .3s;
    background-color: #004AAD;  
}

.Logo h1[b-7bl7srltt8] {
    color: #fff;
    text-shadow: 5px 5px rgb(15, 23, 141);
    font-family: 'ABSTER';    
}

.wrap-reverse[b-7bl7srltt8] {
	flex-wrap: wrap-reverse;
}

/* Flex Container */
.container[b-7bl7srltt8] {
	max-width: 360px;
    max-height: 1000px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}
/* Flex Item */
.item[b-7bl7srltt8] {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	background: blueviolet;
	text-align: center;
	font-size: 1.5em;
}

.password[b-7bl7srltt8]{
    max-width: 500px;
}