@page "/index"

<body>
    <nav id="menu-h">
        <ul>
            <div class="Search">    
            <li><a href="/index";> &#128269;</a></li>
            </div>  

            <div class="Logo">
                <h1>C O D E X</h1>
            </div>

            <div class="dolado">
                <div class="Post">
                    <li><a href="/post";> &#128161;</a></li>
                </div>

                <div class="LoginButton">
                    <li><a href="/login";> &#128100;</a></li>
                </div>
            </div>           
        </ul>
    </nav>
</body>
