@page "/manoelgome"

<body>
    <div class="container"> 
    <img alt="BluePen" src="manoelgomes.png">
    <audio src='jumpscare.mp3' autoplay controls> 
        Teste
    </audio>
        <h1>&#128394;</h1>
    </div>
</body>