@page "/post"
@inject HttpClient http

<body>
        <nav id="menu-h">
            <ul>
                <div class="Logo">
                    <h1>C O D E X</h1>
                </div>
                
            </ul>

        <div class="container">
           <div class="box">
                <input type="title" style="height: 7vh; font-size: 35px;" name="message" placeholder="Title" @bind-value="title">
                <input type="post1" style="height: 40vh; font-size: 25px;" name="message" placeholder="Code" @bind-value="code">
                <div class="subbox">
                <input type="post2" style="width: 60vw; height: 20vh; font-size: 25px;" name="message" placeholder="Review" @bind-value="review"> 
                <input type="submit" name="" value="SEND" @OnClick="Register">
                </div>
            </div>
        </div>
    </nav>
</body>

@code
{
    private string title = string.Empty;
    private string code = string.Empty;
    private string review = string.Empty;
    public async Task Register()
    {
        Conteudo post = new Conteudo();
        post.Titulo = title;
        post.Conteudo = code;
        post.Descricao = review;
        await http.PostAsJsonAsync("/content/register/", post);
    }
}