@font-face {
    font-family: 'ABSTER';
    src: url(Fonts/ABSTER.otf);
}

.Logo h1[b-0iasmlzxcm] {
    padding: 10px 0px 0px 10px;
    font-size: 40px;
    color: #fff;
    text-shadow: 5px 5px rgb(15, 23, 141);
    font-family: 'ABSTER';    
}

body[b-0iasmlzxcm] {
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
}

.card[b-0iasmlzxcm]{
    margin-bottom:20px;
    border: none;
}

.box[b-0iasmlzxcm] {
    width: 350px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: flex;
    top: 10%;
    left: 20%;
    border-radius: 24px;
    background: #191919;
    text-align: center;
    color: #726d6d;
    transition: 0.25s
}

.box input[type="text"][b-0iasmlzxcm],
.box input[type="password"][b-0iasmlzxcm] {
    border: 0;
    background: none;
    display: flex;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1[b-0iasmlzxcm] {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}


.box input[type="text"]:focus[b-0iasmlzxcm],
.box input[type="password"]:focus[b-0iasmlzxcm] {
    width: 300px;
    border-color: #1b2f88
}

.box input[type="submit"][b-0iasmlzxcm] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover[b-0iasmlzxcm] {
    background: #1b2f88
}

.forgot[b-0iasmlzxcm] {
    color: #726d6d;
    transition: 0.25s;
    color:white;
    cursor: pointer
}

.container[b-0iasmlzxcm] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
    