@page "/index"

<body>
        <nav id="menu-h">
            <ul>
                <div class="Search">    
                <li>&#128269;</li>
                </div>  

                <div class="Logo">
                    <h1>C O D E X</h1>
                </div>

                <div class="LoginButton">
                    <li><a href="/login" style="text-decoration:none;"> &#9094;</a></li>
                </div>
            </ul>
        </nav>
</body>

