@page "/index"

<body>
        <nav id="menu-h">
            <ul>
                <li><a href="sexo.html">sexo</a></li>
                <h1>CODEX</h1>
                <li><a href="sexo.html">sexo3</a></li>
            </ul>
        </nav>
</body>

