@page "/post"

<body>
        <nav id="menu-h">
            <ul>
                <div class="Logo">
                    <h1>C O D E X</h1>
                </div>
                
            </ul>

        <div class="container">
           <div class="box">
            <input id="post1" type="text" name="" placeholder="">
            <div class="subbox">
                <input id="post2" type="text" name="" placeholder="">
                <input id="post3" type="button" name="" placeholder="">
            </div>
            </div>
        </div>
    </nav>
</body>
