@page "/post"

<body>
        <nav id="menu-h">
            <ul>
                <div class="Logo">
                    <h1>C O D E X</h1>
                </div>
                
            </ul>

        <div class="container">
           <div class="box">
            <textarea type="title" style="height: 7vh; font-size: 35px;" name="message" placeholder="Title" > </textarea>
            <textarea type="post1" style="height: 40vh; font-size: 25px;" name="message" placeholder="Code" > </textarea>
                <div class="subbox">
                <textarea type="post2" style="width: 60vw; height: 20vh; font-size: 25px;" name="message" placeholder="Review" > </textarea>
                <button id="post3" type="button">SEND</button>
                </div>
            </div>
        </div>
    </nav>
</body>
