@font-face {
    font-family: 'ABSTER';
    src: url(Fonts/ABSTER.otf);
}

#menu-h ul{
    max-width: 100%;
    list-style: none;
    justify-content: center;
    padding-right: 50px;    
    text-align: center;
    background-color: #004AAD 
}

#menu-h ul li{
    display: inline;
}

#menu-h ul li  a{
    color:rgb(8, 25, 255);
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
    background-color: #004AAD;  
}


#menu-h ul li  a:hover{
    background-color:rgb(221, 221, 221);
}

.Logo h1 {
    color: #fff;
    text-shadow: 5px 5px rgb(15, 23, 141);
    font-family: 'ABSTER';    
}

.Search{
    font-size: 35px;
    text-decoration: none;
    background-color:azure 
}

.LoginButton{
    text-decoration: none;
    font-size: 35px;
    background-color:azure 
}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#post1 {
    height: 40vh;

    resize: none;
    background-color: rgb(196, 198, 224);
    color: rgb(237, 148, 255);
    background-color: rgb(0, 0, 0);
}

#post2 {
    height: 20vh;
    width: 60vw;
    text-decoration: red;
    background-color:rgb(195, 197, 219);
    color: white;
}

#post3 {
    height: 20vh;
    width: 10vw;
    margin: 10;
}

textarea{
    resize: none;
}

#post3 {
    height:20vh;
    width: 10vw;
    margin: 10;
}