@page "/post"

<body>
        <nav id="menu-h">
            <ul>
                <div class="Logo">
                    <h1>C O D E X</h1>
                </div>                
            </ul>
        </nav>
</body>

