@page "/post"

<body>
        <nav id="menu-h">
            <ul>
                <div class="Logo">
                    <h1>C O D E X</h1>
                </div>                
            </ul>
            <section class="container wrap-reverse">
                <input type="text" name="" placeholder="Login">
                <input type="password" name="" placeholder="Senha ">
                <input type="submit" name="">
            </section>
        </nav>
</body>

