@page "/login"

<body>
    <div class="Logo">
        <h1>C O D E X</h1>
    </div>
    <div class="container">

        <div class="box">
            <h1>Login</h1>
            <p class="text-muted"> Por favor insira seu login e sua senha!</p>
            <input type="text" name="" placeholder="Login">
            <input type="password" name="" placeholder="Senha ">
            <a class="forgot text-muted" href="#">Esqueceu a senha</a>
            <a class="forgot text-muted" href="signup.html">Não possui uma conta? Cadastre-se</a>
            <input type="submit" name="">

        </div>
    </div>
</body>